{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %} Search Users {{ title }} {% endblock title %} 
{% block header %}
<style>
    .or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}

</style>
{% endblock header %}
{% block body %}
<form
  class="form-inline my-2 my-lg-0 ml-5"
  action="{% url 'search_users' %}"
  method="get"
>
  <input name="q" type="text" placeholder="Search users.." />
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">
    Search
  </button>
</form>
{% endblock searchform %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% if not users %}
      <br /><br />
      <h2><i>No such users found!</i></h2>
      {% else %}
      <div class="card card-signin my-5">
        <div class="card-body">
          {% for user_p in users %}
          
          <a class="text-dark" href="{{ user_p.profile.get_absolute_url }}"
            ><b>{{ user_p }}</b></a
          >
          <br /><br />
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      <div class="card card-signin my-5">
       
        <div class="card-body">
          <h5 class="card-title text-center">{{ request.user2 }}</h5>
          <h6 class="text-center">
            {{ request.user2.profile.friends.count }}
            <p class="text-muted">Friends</p>
          </h6>
       
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
  {% endblock body %}

