{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %} All Users  {{ title }} {% endblock title %} 
{% block header %}
<style>
    .or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}

</style>
{% endblock header %}
{% block body %}
    {% comment %}
    <h1>{{users}}</h1>
    {% endcomment %} 
    
    {% for i in users %}
    <div class="card" style="width: 500px; margin-left: 500px; margin-top: 8px;">
        <div class="row">
          <div class="card-body" style="margin-left: 20px;" >{{i.username}}</div> 
        <!-- <div class="card-footer">       -->
          <div class="btn-wrapper text-center" style="display: inline-block; margin-right: 200px; margin-top: 17px;">
            <a class="btn btn-secondary text-light btn-sm" style="background-color: rgb(63, 10, 63) !important;">Add Friend</a> 
          </div>
        <!-- </div> -->
        </div>
      </div> 
    {% endfor %}
    
{% endblock body %}

{% comment %} <!DOCTYPE html> {% endcomment %}
